rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /uploads/{allPaths=**} {
      allow read, write: if true;
    }
    match /avatars/{allPaths=**} {
      allow read, write: if true;
    }
    match /chat-images/{allPaths=**} {
      allow read, write: if true;
    }
    match /chat-files/{allPaths=**} {
      allow read, write: if true;
    }
    match /x-uploads/{allPaths=**} {
      allow read, write: if true;
    }
    match /x-avatars/{allPaths=**} {
      allow read, write: if true;
    }
    match /x-chat-images/{allPaths=**} {
      allow read, write: if true;
    }
    match /x-chat-files/{allPaths=**} {
      allow read, write: if true;
    }
  }
}
